.login-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.login-container>div {
    flex-basis: 50%;
}

.login-img {
    width: 600px;
}

.subtitle {
    text-align: center;
    color: gray;
}

.login-img {
    /* background-origin: ; */
    background-color: #FF5500;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-name {
    /* font-size: 24px; */
    color: #FF5500;
}

.label {
    font-size: 24px;
    /* margin-bottom: 12px; */
}

.input-box {
    padding: 12px 8px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
    width: 100%;
    margin: 16px 0;
}

.form-container {
    margin-top: 24px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.btn {
    background-color: #FF5500;
    color: white;
    outline: none;
    border: none;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}
.show-error{
    color: red;
}
@media only screen and (max-width: 900px) and (min-width: 240px) {
    .login-img {
        display: none;
    }

    .login-container>div {
        flex-basis: 100%;
    }

    .isMobile {
        /* background-color: pink; */
        background-image: url("https://images.pexels.com/photos/3769999/pexels-photo-3769999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* opacity: .3; */
        z-index:-9 ;
        filter: brightness(1);
        /* height: 100vh; */
    }

}

@media only screen and (max-width: 420px) and (min-width: 240px) {
    .subtitle {
        text-align: start;

    }
    .card-container{
        flex-direction: column;
    }
}

.asking-for-permissions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.asking-for-permissions > h1{
 margin-bottom: 16px;
}

.img-cook{
    width: 100px;
}
.card{
    border: 1px solid #ccc;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    width: 240px;
}
.card-container{
    display: flex;
    gap: 16px;
   
}
.card:hover{
    transition: all .3s ease-in;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}